* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
    --Bold: 700;
}

body {
    background-color: var(--Magnolia);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#main {
    width: 95vw;
    max-width: 900px;
    padding: 1.2rem;
    background-color: var(--White);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

#Sidebar {
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    color: var(--Alabaster);
    width: 35%;
    height: 500px;
    border-radius: 10px;
}

.step {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.step > .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 30px;
    width: 30px;
    border: 1px solid var(--Light-blue);
    border-radius: 50%;
}

.step .text p:nth-child(1) {
    font-size: 13px;
    line-height: 1.2;
    color: var(--Pastel-blue);
    font-weight: 100;
}

.step .text p:nth-child(2) {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
}

.text > p {
    text-transform: uppercase;
}

#form {
    padding: 2rem 2rem 2rem 1.2rem;
}

h1 {
    color: var(--Marine-blue);
}

.sub-title {
    color: var(--Cool-gray);
    margin-top: 0.6rem;
}

form {
    margin-top: 2.4rem;
    height: 80%;
    position: relative;
}

form label {
    color: var(--Marine-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

form input {
    width: 100%;
    height: 40px;
    margin-top: 0.5rem;
    border: 1px solid var(--Light-gray);
    border-radius: 5px;
    font-weight: 600;
    padding-left: 13px;
    margin-bottom: 1.4rem;
}

form input:active, form input:focus {
    outline: 0;
    border-color: var(--Purplish-blue);
}

form label.image-option:active {
    outline: 0;
    border: 1px solid var(--Purplish-blue);
}

form label.active-focus {
    outline: 0;
    border: 1px solid var(--Purplish-blue);
    background-color: var(--Magnolia);
}

.image-option-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-option {
    width: 140px;
    padding: 8px 0 16px 0;
    border: 1px solid var(--Light-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    user-select: none;
}

form input[type="image"] {
    border: none;
    width: auto;
}

.input-image-text {
    margin-left: 16px;
}

.image-input-title, .checkbox-input-title {
    font-weight: 800;
}

.image-input-sub-title, .checkbox-input-sub-title {
    color: var(--Cool-gray);
}

.image-input-sub-title, .image-input-sub-title + p, .checkbox-input-sub-title {
    font-size: 14px;
    margin-top: 7px;
}

.image-input-sub-title + p {
    font-weight: 500;
}

.plan-type-container {
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--Magnolia);
    border-radius: 5px;
}

.plan-type-text {
    color: var(--Cool-gray);
    font-weight: 800;
}

.active-display-plan {
    color: var(--Marine-blue);
}

label[for="plan-type"] {
    width: 50px;
    height: 25px;
    background-color: var(--Marine-blue);
    border-radius: 30px;
    cursor: pointer;
}

label[for="plan-type"]::before {
    height: 18px;
    width: 18px;
    margin: 0 4px;
    content: '';
    background-color: var(--White);
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

#plan-type {
    display: none;
}

#plan-type:checked + label::before {
    transform: translateX(25px);
}

.add-ons {
    width: 135%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 1rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--Light-gray);
    border-radius: 10px;
}

.add-ons .input-add-ons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
}

.add-ons input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin: auto 0;
    mix-blend-mode: multiply;
    outline: 1px auto var(--Light-gray);
}

.add-ons input[type="checkbox"]:checked {
    accent-color: var(--Purplish-blue);
    border-color: var(--Purplish-blue);
}

.purple-border {
    background-color: hsla(243, 100%, 62%, 0.075);
    border-color: var(--Purplish-blue);
}

hr {
    border: none;
    border-top: 2px solid hsl(230, 24%, 90%);
    margin: 10px 3px 10px 3px;
}

.finishing-container {
    display: flex;
    flex-direction: column;
    background-color: var(--Magnolia);
    color: var(--Cool-gray);
    padding: 10px 20px;
    border-radius: 5px;
    width: 120%;
}

.finishing-container .selected-plan, .finishing-container .selected-add-ons-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.finishing-container .selected-plan-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

.finishing-container .selected-plan {
    color: var(--Marine-blue);
}

#correction-link {
    color: var(--Purplish-blue);
    font-size: 0.9rem;
}

.finishing-container .selected-add-ons, .total {
    color: var(--Cool-gray);
    font-size: 0.9rem;
}

.finishing-container .selected-add-ons-name p:nth-last-child(1) {
    color: #000;
}

.bold {
    font-weight: var(--Bold);
}

.total {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    margin-top: 20px;
}

.total .final-price {
    color: var(--Purplish-blue);
    font-size: 1.1rem;
}

.previous-step-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 11px;
    background-color: var(--White);
    border: none;
    color: var(--Cool-gray);
    font-weight: var(--Bold);
    cursor: pointer;
}

.next-step-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 5px;
    background-color: var(--Marine-blue);
    font-weight: 600;
    color: var(--White);
    padding: 11px 18px;
    cursor: pointer;
}

.next-step-btn:active, .next-step-btn:focus {
    outline: 0;
    background-color: hsl(213, 95%, 34%);
}

.active-step {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
}

p.error-text {
    margin-bottom: 10px;
}

.error-text {
    color: var(--Strawberry-red);
    font-weight: 500;
}

.error-input {
    border-color: var(--Strawberry-red) !important;
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 830px) {
    #Sidebar {
        background-size: cover;
        padding: 1rem;
    }

    #form {
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 780px) {
    body {
        justify-content: flex-start;
    }

    #main {
        margin-top: 8rem;
    }

    #Sidebar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 3rem;
        gap: 2rem;
        width: 100vw;
        height: 200px;
        margin: 0;
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        background-size: cover;
        border-radius: 0;
    }

    .step > .number {
        height: 40px;
        width: 40px;
    }

    #form {
        padding: 1rem 1.2rem 0 1.2rem;
        width: 100%;
    }

    .step .text {
        display: none;
        height: auto;
    }

    form {
        margin-top: 1.6rem;
    }

    form input {
        margin-bottom: 1.2rem;
    }

    form button[type="submit"] {
        display: none;
    }

    .mobile-next-step-button {
        background-color: var(--White);
        width: 100vw;
        padding: 1.2rem;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    .mobile-next-step-button > button {
        position: initial;
        display: inline-block;
        padding: 15px 18px;
    }
    
    .mobile-next-step-button > .previous-step-btn {
        position: absolute;
        bottom: 15px;
        left: 0;
    }

    .desktop-next-step-button {
        display: none;
    }
}

@media only screen and (max-width: 810px) {
    .add-ons {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #main {
        margin-top: 7.1rem;
    }

    #Sidebar {
        gap: 1rem;
    }

    .step > .number {
        height: 35px;
        width: 35px;
    }

    #form {
        padding: 1rem 0 0 0;
    }
}

@media only screen and (max-width: 580px) {
    .image-option-container {
        grid-template-columns: repeat(1, 1fr);
    }

    form input[type="image"] {
        margin: 0;
    }

    .image-option {
        padding: 20px 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0px;
    }

    .image-input-title {
        margin: 0;
    }
}

@media only screen and (max-width: 474px) {

    .checkbox-input-title {
        font-size: 0.8rem;
        padding-right: 5px;
    }

    .checkbox-input-sub-title {
        font-size: 0.7rem;
        padding-right: 5px;
    }
}